
.wrapper {
    background-size: cover;
    background-image: url("../img/rana-sawalha-364253-unsplash.png");
    overflow: hidden;
}
a {
    text-decoration: none;
}

.wrapper-header {
    height: 54px;
    background-color: rgba(0, 0, 0, 0.41);
    opacity: 2;
}

.header {
    margin: 0 auto;
    width: 1380px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header-logo {
    display: block;
    float: left;
    margin: 17px 100px;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo:hover {
    color: rgb(57, 186, 120);

}

.header-icons {
    border-right: 1px solid #302e2c;
    width: 160px;
    float: left;
    margin-top: 17px;
    margin-left: 600px;
}

.calendar {
    background: url("../img/sprite.png") -8px -8px;
    display: block;
    margin-right: 28px;
    width: 20px;
    height: 20px;
    float: left;
}

.forum {
    background: url("../img/sprite.png") -8px -114px;
    display: block;
    width: 27px;
    height: 23px;
    float: left;
    margin-right: 28px;
}

.journey {
    display: block;
    background: url("../img/sprite.png") -8px -78px;
    float: left;
    width: 27px;
    height: 23px;
}

.calendar:hover {
    background: url("../img/sprite.png") -8px -43px;
}

.forum:hover {
    background: url("../img/sprite.png") -8px -150px;
}

.journey:hover {
    background: url("../img/sprite.png") -8px -186px;
}

.header-text {
    display: block;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    float: left;
    margin: 19px 35px;
    color: #ffffff;
}

.header-text span {
    color: #3cb878;

}

.header-text span:hover {
    text-decoration: underline;
}


.window {
    width: 444px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    margin: 65px auto;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    }

.tiny-icon {
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
    border: 1px solid rgb(60, 184, 120);
    position: absolute;
    top: 148px;
}

.headline-item {
    display: block;
    float: left;
    margin-right: 203px;
    margin-left: 60px;
    margin-top: 29px;
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 20px;
    text-decoration: none;
}

.headline-item-child {
    font-size: 14px;
    margin-top: 33px;
    color: #3cb878;
    display: block;
    float: left;
    font-family: 'Verdana', sans-serif;
}

.headline-item-child:hover {
    text-decoration: underline;
}

.button {
    height: 46px;
    width: 157px;
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    padding: 12px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
}

.button-f {
    margin: 15px 8px 0 60px;
    background-color: #264b96;

}

.icon-f {
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    width: 30px;
    height: 28px;
    margin-top: -3px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 3px;
    border-right: 1px solid darkblue;
}

.button-g {
    margin: 15px 60px 0 0;
    background-color: #c3412c;
}

.icon-g {
    font-size: 17px;
    font-family: 'Verdana', sans-serif;
    width: 30px;
    height: 25px;
    margin-left: 10px;
    margin-right: 18px;
    box-sizing: border-box;
    border-right: 1px solid firebrick;


}

.input {
    height: 45px;
    width: 319px;
    margin: 8px 60px;
    box-sizing: border-box;
    padding-left: 17px;
    color: #ebebeb;
    font-size: 14px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    outline: none;

}

.input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    color: black;
}


.line-left {
    height: 28px;
    width: 133px;
    border-bottom: 1px solid #ebebeb;
    float: left;
    margin-right: 19px;
    margin-left: 60px;
}

.line-text {
    float: left;
    margin-right: 19px;
    margin-top: 19px;
    color: #bebebe;
}

.line-right {
    height: 28px;
    width: 133px;
    border-bottom: 1px solid #ebebeb;
    float: left;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 10px;
}

.checkbox input[type="checkbox"]:checked {
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}

.checkbox-text {
    margin-right: 10px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
}

.checkbox-text-green {
    font-family: 'Verdana', sans-serif;
    color: #3cb878;
    font-size: 14px;
}

.checkbox-text-green:hover {
    text-decoration: underline;
}

.footer-form {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 60px;
    width: 322px;
    height: 46px;
    margin-top: 15px;
    margin-bottom: 32px;
    background-color: #39ba78;
    border: none;
    border-radius: 3px;
}

