
a {
    text-decoration: none;
}

body {
    background-image: url("../img/background.png");
    margin: 0 auto;
    padding: 0;
}

header {
    width: 1059px;
    height: 45px;
    margin: 49px auto;
}
.logo {
    margin-right: 9px;
    float: left;
    width: 46px;
    height: 45px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}

.logo-content {
    float: left;
    box-sizing: border-box;
    color: white;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Verdana', sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 3px 0;
}

.logo-main {
    display: block;
    float: left;
    width: 165px;
}

.logo-content-second {
    font-size: 18px;
  }
.logo-main:hover > .logo {
    background-image: url("../img/logo orange.png");
    background-repeat: no-repeat;
}

.logo-main:hover > p {
    color: #f2651d;
}
.header-right {
    font-family: 'Verdana', sans-serif;
    float: right;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}
.container {
    width: 1070px;
    margin: 0 auto;
}
.container::after{
    content:".";
    display: block;
    clear: both;
    height: 0;
}
.Layer1 {
    width: 310px;
    float: left;
    margin-right: 69px;

}
.gradient {
    /*width: 310px;*/
    /*height: 200px;*/
    padding: 2px;
    box-sizing: border-box;
    background-image: linear-gradient(white, black);
    box-shadow: 0px 17px 24px 0px #000000;;
}
.details {
    background-color: #f26522;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    position: absolute;
    top: 283px;
    height: 66px;
    width: 310px;
    box-sizing: border-box;
    padding: 12px;
    opacity: 0;
}


.details-second {
    background-color: #f26522;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    position: absolute;
    top: 590px;
    height: 66px;
    width: 310px;
    box-sizing: border-box;
    padding: 12px;
    opacity: 0;
}

.price::before {
    content: "\20AC"
}
.price {
    font-size: 20px;
    float: left;
    margin-right: 126px ;

}
.View-Details {
    font-size: 14px;

}
.View-Details::after{
    content:"\203A ";
        }

.container-text {
    margin-top: 20px;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    display: block;
    text-align: center;
}

.Layer2 {
    width: 312px;
    float: left;
    margin-right: 68px;
}

.Layer3 {
    width: 310px;
    display: inline-block;
    float: left;
}

.Layer4 {
    width: 311px;
    float: left;
    margin-right: 68px;
    margin-top: 58px;

}

.Layer5 {
    width: 311px;
    float: left;
    margin-right: 68px;
    margin-top: 58px;
}

.Layer6 {
    width: 312px;
    margin-top: 58px;
    display: inline-block;
    float: left;
}

.Layer1:hover .details {
    opacity: 1;
    transition-duration: 1s;
}
.Layer2:hover .details {
    opacity: 1;
    transition-duration: 1s;
}
.Layer3:hover .details {
    opacity: 1;
    transition-duration: 1s;
}
.Layer4:hover .details-second {
    opacity: 1;
    transition-duration: 1s;
}
.Layer5:hover .details-second {
    opacity: 1;
    transition-duration: 1s;
}
.Layer6:hover .details-second {
    opacity: 1;
    transition-duration: 1s;
}
.Layer1:hover > .container-text{
    color: #f2651d;
}
.Layer2:hover > .container-text{
    color: #f2651d;
}
.Layer3:hover > .container-text{
    color: #f2651d;
}
.Layer4:hover > .container-text{
    color: #f2651d;
}
.Layer5:hover > .container-text{
    color: #f2651d;
}
.Layer6:hover > .container-text{
    color: #f2651d;
}
.Footer {
    clear: both;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 50px;

}


