
@font-face {
    font-family: 'font835e8cd2648f2cfaf72fca3aa1e74ab9';

    src:    url('https://nomail.com.ua/files/eot/835e8cd2648f2cfaf72fca3aa1e74ab9.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/835e8cd2648f2cfaf72fca3aa1e74ab9.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/835e8cd2648f2cfaf72fca3aa1e74ab9.woff2') format('woff2');
}

@font-face { font-family: 'Verdana-Bold';  src: local('Verdana-Bold'), url('https://nomail.com.ua/files/woff/835e8cd2648f2cfaf72fca3aa1e74ab9.woff') format('woff'); }




/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/


#verdanabold { font-family:'Verdana-Bold'; }
.font835e8cd2648f2cfaf72fca3aa1e74ab9 { font-family: 'font835e8cd2648f2cfaf72fca3aa1e74ab9'; }
