
@font-face{
    font-family: "Courier New";
    src: url("//db.onlinewebfonts.com/t/47eea0aee6a658d70341a2ccc25bb819.eot");
    src: url("//db.onlinewebfonts.com/t/47eea0aee6a658d70341a2ccc25bb819.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/47eea0aee6a658d70341a2ccc25bb819.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/47eea0aee6a658d70341a2ccc25bb819.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/47eea0aee6a658d70341a2ccc25bb819.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/47eea0aee6a658d70341a2ccc25bb819.svg#Courier New") format("svg");

    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d2124;
}

.header-logo {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 255);
    font-size: 29px;
    font-weight: 600;
    font-family: 'OpenSans-Bold', sans-serif;
}

.header-logo-item {
    background-color: #1a1d20;
    padding: 20px;
}

.nav-bar-menu {
    display: flex;
    width: 750px;
    justify-content: space-between;

}

.nav-bar-menu a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: '﻿OpenSans-Semibold', sans-serif;

}

.icon {
    display: block;
    color: #ffffff;
    padding: 25px;
    background-color: #1a1d20;
}

.heading {
    background-image: url("../img/header.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 127px 0;

}

.heading h1 {
    font-size: 36px;
    font-family: 'Courier', sans-serif;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.button {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.box {
    width: 170px;
    padding: 20px;
    border-radius: 3px;
    color: white;
    font-family: '﻿OpenSans-Semibold', sans-serif;
    text-align: center;
    font-size: 24px;
}

.green {
    background-color: #89ca62;
    margin-right: 20px;
}

.blue {
    background-color: #14b9d5;
}

.content-wrapper {
    background-color: #f2f2f2;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1170px;
    height: 882px;
    margin: 0 auto;
}
h2 {
    font-family: '﻿OpenSans-Semibold', sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 43px 0;
    color: #25b8d1;
    text-transform: uppercase;
}

.content-item {
    width: 370px;
    background-color: white;
}

.content-item p {
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 0 15px 0;
    text-align: center;
    color: rgba(53, 58, 61, 255);
}

.content-item-down {
    margin-top: 31px;
    margin-right: 30px;
}

.section {
    background-image: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    padding: 201px 0;
}

h3 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 43px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

h3:after {
    display: block;
    width: 60px;
    content: '';
    border-bottom: 3px solid #169cb4;
    margin: 0 auto;
    padding: 30px 0;

}

.section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 881px;
    margin: 0 auto;
}

h4, h5 {
    font-family: 'OpenSans-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    color: #18b4cf;
    text-align: center;
    margin: 55px 0;
}

.top-rated {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 271px);
    }

.img {
    width: 271px;
}

.hot-news {
    display: grid;
    width: 1149px;
    margin: 0 auto;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px 420px 420px 259px;
    grid-template-areas: "grid-header grid-header-second" "grid-main grid-main-second" "grid-basis grid-basis-second" "grid-footer grid-footer-second";

}

.grid-header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-main, .grid-basis {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-main-second, .grid-basis-second {
    grid-column-start: 3;
    grid-column-end: 5;
}

.grid-footer-second {
    grid-column-start: 2;
    grid-column-end: 5;
}

.post {
    background-color: #f9f7f7;
}

.post-1 {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.p-header {
    font-family: 'OpenSans-Bold', sans-serif;;
    text-align: right;
    padding: 10px 10px 10px 0;
    font-weight: bold;
    font-size: 22px;
}

.p-text {
    font-family: '﻿OpenSans-Semibold', sans-serif;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding: 0 10px 0 0;
    line-height: 1.2;
}

.footer {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-areas: "footer-text footer-logo";
    background-color: #1d2124;
    margin-top: 30px;
}

.footer-text {
    grid-column: 3/8;
    font-family: 'OpenSans', 'Courier', sans-serif;
    font-size: 17px;
    color: white;
    padding: 20px 0;
}

.footer-logo {
    grid-column-start: 8;
    text-align: right;
    padding: 20px 0;
}

.img-footer {
    vertical-align: top;
}