.wrapper {
    background-image: url("../img/background.png");
    background-position: center;
    background-size: cover;
    height: 100%;


}

.container {
    width: 1075px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

.header {
    padding: 25px 0;
    box-sizing: border-box;
    margin-bottom: 40px;

}

.logo {
    margin-right: 9px;
    float: left;
    width: 46px;
    height: 45px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}

.logo-content {
    float: left;
    color: white;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Verdana', sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 3px 0;
}

.logo-main {
    display: block;
    float: left;
    width: 165px;
}

.logo-content-second {
    font-size: 18px;
}

.logo-main:hover > .logo {
    background-image: url("../img/logo orange.png");
    background-repeat: no-repeat;
}

.logo-main:hover > p {
    color: #f2651d;
}

.header-right {
    font-family: 'Verdana', sans-serif;
    float: right;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}


.clearfix::after {
    content: ".";
    display: table;
    clear: both;

}

.content {
    display: block;
    float: left;
}

.layer1 {
    margin-right: 69px;
}

.layer2 {
    margin-right: 68px;
    margin-top: 58px;
}

.layer3 {
    margin-top: 58px;
}

.img {
    padding: 2px;
    box-sizing: border-box;
    background-image: linear-gradient(white, black);
    box-shadow: 0 17px 24px 0 #000000;

}

.container-text {
    margin-top: 23px;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    display: block;
    text-align: center;
}

.details {
    background-color: #f26522;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    line-height: 21px;
    position: absolute;
    top: 241px;
    width: 310px;
    box-sizing: border-box;
    padding: 12px;
    opacity: 0;
}

.price::before {
    content: "\20AC"
}

.price {
    font-size: 20px;
    float: left;
    margin-right: 126px;

}

.View-Details {
    font-size: 14px;

}

.View-Details::after {
    content: "\203A ";
}

.details-second {
    background-color: #f26522;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    line-height: 21px;
    position: absolute;
    top: 552px;
    width: 310px;
    box-sizing: border-box;
    padding: 12px;
    opacity: 0;
}

.content:hover .details {
    opacity: 1;
    transition-duration: 1s;
}

.content:hover .details-second {
    opacity: 1;
    transition-duration: 1s;
}

.content:hover > .container-text {
    color: #f2651d;
}

.Footer {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    margin-top: 40px;
}