/* arimo-regular - latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../fonts/arimo-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/arimo-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/arimo-v12-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/arimo-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/arimo-v12-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */
}

/* arimo-700 - latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/arimo-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url('../fonts/arimo-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/arimo-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/arimo-v12-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/arimo-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/arimo-v12-latin-700.svg#Arimo') format('svg'); /* Legacy iOS */
}

.table {
    font-family: 'Arimo', sans-serif;
    border: 24px solid #374765;
    margin: 0 auto;

}

th, tr, td {
    box-shadow: inset -3px 0 6px -3px rgba(0, 0, 0, 0.27);
}

.desk {
    color: #484848;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 30px 0;
}

.rowspan {
    text-transform: uppercase;
    padding: 35px 0;
    width: 310px;
    background-color: #fafafa;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    color:  #484848;
}

.first-row {
    display: block;
    font-size: 30px;
    font-weight: 700;
    /*line-height: 28px;*/

}

.plans {
    width: 277px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.bg-standard {
    background-color: #89c331;
}

.bg-ultimate {
    background-color: #f04a56;
}

.bg-premium {
    background-color: #20807c;
}

.icon {
    margin-right: 10px;
    color: #848484;
}

.price {
    font-size: 60px;
    color:  #484848;
    padding: 10px 30px;
    position: relative;
    font-weight: 700;
    background-color: #fafafa;

}

.price-99 {
    font-size: 24px;
    position: absolute;
    top: 17px;
    right: 110px;

}

.price-month {
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-weight: 400;
    text-transform: uppercase;
}

.storage {
    background-color: #f2f2f2;
}

.bandwidth {
    background-color: #e3e3e3;
}

.email {
    background-color: #f2f2f2;
}

.support {
    background-color: #e3e3e3;
}

button {
    border-radius: 5px;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    width: 192px;
    text-transform: uppercase;
    cursor: pointer;
}

.products {
    background-color: #f2f2f2;
}

.users {
    background-color: #e3e3e3;
}

.black {
    background-color: #e3e3e3;
    height: 110px;
}

.container {
    background-color: #f2f2f2;
}

.red {
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
}

.green {
    background-color: #89c331;
    border-bottom: 7px solid #79b027;
}

.blue {
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
}

.contact {
    background-color: #484848;
    border-bottom: 7px solid #404040;
}

.footer {
    text-align: center;
    vertical-align: middle;
}